* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 700;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.box {
  padding: 30px;
}

.group_option {
  width: 200px;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  background-color: rgb(223, 237, 250);
}

.select_op {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.group_option .select_op::after {
  content: "클릭!";
  display: inline-block;
  font-size: 15px;
  border: 1px solid #555;
  white-space: nowrap;
}

.group_option .op_list {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.group_option .op_list.on {
  height: 130px;
}

.op_item {
  padding-top: 15px;
}
