* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 700;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.header {
  padding: 30px;
}

.nav {
  width: 200px;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  background-color: rgb(223, 237, 250);
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.nav .nav-btn::after {
  content: "click";
  display: inline-block;
  font-size: 15px;
  border: 1px solid #555;
  white-space: nowrap;
}

.nav .ul {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.nav .ul.on {
  height: 150px;
}

.list {
  padding: 10px;
}
