* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 700;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
.box {
  padding: 30px;
}
.group_option {
  width: 200px;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  background-color: rgb(223, 237, 250);
}
